In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/output.csv", sep="|")

In [3]:
data.head()

,comment,topic_idx,polarity_score
0,Best seat on this aircraft. Overhead bins on l...,-1,0.9077
1,I flew from Frankfurt to Heathrow on my way ba...,-1,-0.6169
2,"Seat is too narrow, is poorly designed, and ha...",-1,-0.9116
3,Got upgraded to this while having purchased th...,-1,0.8011
4,Good seat with plenty legroom. Only disadvanta...,-1,0.7574

In [4]:
topics = pd.read_csv("../data/topics.csv", sep=";")

In [5]:
topics.head()

   topic_idx                                          top_words  topic
0         -1  plane, airlines, business, airline, food, cabi...  other
1          0  barbados, airways, virgin, antigua, bridgetown...  other
2          1  dog, dogs, puppy, pet, pets, zappa, vet, anima...   pets
3          3  mauritius, maldives, seychelles, holiday, tray...  other
4          4  honolulu, hawaii, maui, angeles, hawaiian, lax...  other

In [7]:
data["topic"] = data.apply(lambda row: topics.loc[topics.topic_idx==row[1]].topic.values[0], axis=1)

In [8]:
data.head()

,comment,topic_idx,polarity_score,topic
0,Best seat on this aircraft. Overhead bins on l...,-1,0.9077,other
1,I flew from Frankfurt to Heathrow on my way ba...,-1,-0.6169,other
2,"Seat is too narrow, is poorly designed, and ha...",-1,-0.9116,other
3,Got upgraded to this while having purchased th...,-1,0.8011,other
4,Good seat with plenty legroom. Only disadvanta...,-1,0.7574,other

In [9]:
topic_rating = data.groupby("topic", as_index=False).polarity_score.mean()

In [10]:
topic_rating.head()

     topic  polarity_score
0    aisle        0.110287
1  booking        0.125556
2  comfort        0.787025
3    covid       -0.178567
4    delay        0.512241

In [11]:
topic_rating.to_csv("../data/topic_rating.csv", index=False)